#overlay {
  width: 100%;
  height: 100%;
  background-color: var(--main-900);
  mix-blend-mode: multiply;
  opacity: 0.4;
  position: absolute;
}
.input #canvas {
  display: block;
}
#canvas.news {
  padding: 0;
  background-position: center center;
  background-size: cover;
}
#canvas.news #text {
  position: absolute;
  padding: 40px 0;
}
#canvas.news #text.top {
  top: 80px;
}
#canvas.news #text.bottom {
  bottom: 80px;
}
#canvas.news #text.left {
  left: 80px;
  padding-left: 16px;
  text-align: left;
  border-left: 16px solid var(--main-200);
  margin-right: 80px;
}
#canvas.news #text.right {
  right: 80px;
  padding-right: 16px;
  text-align: right;
  border-right: 16px solid var(--main-200);
  margin-left: 80px;
}
#canvas.news #text textarea {
  width: 100%;
}
#canvas.news #text.left textarea {
  padding-left: 24px;
  text-align: left;
}
#canvas.news #text.right textarea {
  padding-right: 24px;
  text-align: right;
}
#canvas.news #text.right input {
  text-align: right;
}
#canvas.news h1 textarea, #canvas.news h2 textarea {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0;
}
#canvas.news h1 textarea::placeholder, #canvas.news h2 textarea::placeholder {
  opacity: 0.5;
}
#canvas.news h1 textarea {
  font-size: 32px;
  color: var(--main-200);
}
#canvas.news h1 textarea::placeholder {
  color: var(--main-200);
}
#canvas.news h2 textarea {
  font-size: 80px;
  color: #fff;
  text-transform: none;
}
#canvas.news h2 textarea::placeholder {
  color: #fff;
}
#form.news > div > div {
  margin: 1rem 0;
}
#form .buttonGroup {
  display: flex;
  flex-direction: row;
}
.formGroup:not(:last-of-type) {
  margin-right: 4rem;
}
.formGroup label {
  display: block;
}
body.input {
  /* display: grid;
  grid-template-columns: 61.8% 38.2%; */
  padding: 0;
}
.input #input {
  width: 1200px;
  margin: 0 auto;
}
.input #input #form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input #input button {
  background-color: var(--veryLightGrey);
  border: 1px solid var(--lightGrey);
  border-radius: 2px;
  height: 48px;
  width: 48px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.input #input button:not(:last-of-type) {
  margin-right: 0.4rem;
}
.input #input input[type="range"] {
  background-color: var(--veryLightGrey);
  height: 2px;
}
#bgImageButton {
  background-image: url('../img/icons/ic_bgImage.svg');
}
#topLeft {
  background-image: url('../img/icons/ic_topLeft.svg');
}
#topRight {
  background-image: url('../img/icons/ic_topRight.svg');
}
#bottomLeft {
  background-image: url('../img/icons/ic_bottomLeft.svg');
}
#bottomRight {
  background-image: url('../img/icons/ic_bottomRight.svg');
}
