#overlay {
  width: 100%;
  height: 100%;
  background-color: #033359;
  mix-blend-mode: multiply;
  opacity: 0.4;
  position: absolute;
}
#canvas.news {
  padding: 0;
  background-position: center center;
}
#canvas.news #text {
  position: absolute;
  padding: 40px 0;
}
#canvas.news #text.top {
  top: 80px;
}
#canvas.news #text.bottom {
  bottom: 80px;
}
#canvas.news #text.left {
  left: 80px;
  padding-left: 40px;
  text-align: left;
  border-left: 16px solid #9DF8ED;
}
#canvas.news #text.right {
  right: 80px;
  padding-right: 40px;
  text-align: right;
  border-right: 16px solid #9DF8ED;
}
#canvas.news h1, #canvas.news h2 {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0;
}
#canvas.news h1 {
  font-size: 32px;
  color: #9DF8ED;
}
#canvas.news h2 {
  font-size: 80px;
  color: #fff;
  text-transform: none;
}
#logo.small {
  width: auto;
  position: absolute;
}
#logo.small.top  {
  bottom: 0;
}
#logo.small.bottom  {
  top: 40px;
}
#logo.small.left  {
  left: 80px;
}
#logo.small.right  {
  right: 80px;
}
