@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 2rem 0;
}

:root {
  --main-100: #CDFBF2;
  --main-200: #9DF8ED;
  --main-300: #6AEAE5;
  --main-400: #44D0D6;
  --main-500: #11A7BB;
  --main-600: #0C83A0;
  --main-700: #086386;
  --main-800: #05476C;
  --main-900: #033359;
  --veryLightGrey: #eee;
  --lightGrey: #aaa;
}
#canvas {
  background-color: var(--main-700);
  background-size: contain;
  margin: 0 auto;
  color: var(--main-700);
  width: 1200px;
  height: 1200px;
  padding: 80px;
  font-size: 32px;
  text-align: center;
  position: relative;
}
#canvas.drivers {
  background-image: url('../img/bg/bg_fahrerwertung_01.jpg');
}
#canvas.teams {
  background-image: url('../img/bg/bg_city_01.png');
}
#canvas.results {
  background-image: url('../img/bg/bg_city_01.png');
}

#country {
  margin-right: 24px;
}
#country img {
  width: 166px;
  height: 104px;
  display: block;
}
#country, #event {
  display: inline;
}
#event {
  flex-grow: 1;
}
#sponsor {
  display: flex;
}
#sponsor img {
  transform-origin: right;
  transform: scale(1);
  margin-right: 24px;
}
.headline {
  background-color: #fff;
  margin-bottom: 36px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 104px;
}
h1 {
  font-size: 40px;
  font-weight: 900;
}
h2 {
  font-size: 28px;
  font-weight: 400;
}
h1,h2 {
  text-transform: uppercase;
}

#ranking {
  width: 100%;
}
.driver, .team {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  background-color: #fff;
  margin-top: 4px;
  height: 64px;
  justify-content: space-between;
}
.driver > div,
.team > div {
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.driver .position, .driver .points,
.team .position, .team .points {
  color: var(--main-100);
  font-weight: bold;
}
.driver .position,
.team .position {
  background-color: var(--main-800);
  justify-content: center;
  width: 80px;
}
.driver .points,
.team .points {
  justify-content: flex-end;
  padding: 0 24px;
}
.person {
  flex-grow: 1;
}
.person .name {
  text-align: left;
  flex-grow: 1;
  font-weight: 900;
}
.person .flag {
  height: 40px;
  width: 64px;
  margin-right: 16px;
}
.person .car {
  height: 64px;
}
.driver .points,
.team .points {
  background-color: var(--main-200);
  color: var(--main-800);
  text-align: right;
  width: 104px;
}
.person .gap {
  text-align: right;
  font-size: 24px;
  margin-right: 24px;
  font-weight: bold;
}

#input {
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background-color: var(--main-800);
  color: var(--main-100);
  opacity: 0.8;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 800px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 900;
}
button:hover {
  opacity: 1;
}
#form {
  width: 80%;
}
#form > div {
  margin: 0.2rem 1rem;
}
#form > div:nth-of-type(0n+2) {
  margin-top: 1rem;
}
#form .tablehead {
  margin-top: 2rem;
}
#form > div[class*="driver"], #form .tablehead,
#form > div[class*="team"], #form .tablehead {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
}
#form > div > div,
#form .tablehead span {
  margin: 0 0.5rem;
}
#form > div > div:first-of-type,
#form .tablehead span:first-of-type {
  margin-left: 0;
}
#form > div > div:last-of-type,
#form .tablehead span:last-of-type {
  margin-right: 0;
}
span, label, input {
  display: block;
}
span, label {
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 900;
  margin-bottom: 0.2rem;
}
#form input {
  padding: 0.5rem;
  width: 100%;
}

#logo {
  text-align: center;
  width: 50%;
}
#logo.small {
  width: auto;
  position: absolute;
}
#logo.small.top  {
  bottom: 0;
}
#logo.small.bottom  {
  top: 0;
}
#logo.small.left  {
  left: 80px;
}
#logo.small.right  {
  right: 80px;
}
#canvas.drivers #logo.small,
#canvas.teams #logo.small,
#canvas.results #logo.small {
  width: 104px;
  bottom: -64px;
  position: relative;
}

.download {
  text-align: right;
  display: block;
  position: sticky;
  bottom: 2rem;
  margin-right: 2rem;
  width: auto;
  /*background-color: var(--veryLightGrey);
  padding: 1rem 0;*/
}
#canvas {
  display: none;
}

#sortable {
  margin: 2rem 1rem 0;
}
#sortable li::before {
  content: '::';
  font-weight: bold;
  color: var(--main-500);
}
#sortable li {
  list-style-type: none;
  border: 1px solid var(--lightGrey);
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#sortable li .flag {
  height: 24px;
  margin: 0 1rem;
  display: inline;
}
#sortable li span {
  color: var(--main-900);
  display: inline;
  margin-bottom: 0;
  font-size: 1rem;
  flex-grow: 1;
}
#sortable li input {
  width: 10%;
  align-self: flex-end;
  text-align: right;
}
#sortable li:hover {
  cursor: pointer;
}
.dragged {
  background-color: var(--main-200);
}

.input #canvas {
  display: block;
}
.input input,
.input textarea {
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  color: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--main-700);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  display: inline-block;
}
.input h1 input {
  font-size: 40px;
}
.input h2 input {
  font-size: 28px;
  font-weight: 400;
}
.input input::placeholder {
  color: var(--main-700);
  opacity: 0.5;
}
.input .position {
  background-color: var(--main-800);
  color: var(--main-100);
  text-align: center;
  width: 80px;
}
.input .position,
.input .points {
  padding-top: 12px;
}
